<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @restaurant.name %></h1>
      <p>[<%= @restaurant.category.name %>]</p>
    </div>

    <div class="col-md-4">
      <%= image_tag @restaurant.image, class: "img-fluid rounded mx-auto d-block" %>
      <br>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Opening Hour:</strong> <%= @restaurant.opening_hours %></li>
          <li class="list-group-item">Tel:</strong> <%= @restaurant.tel %></li>
          <li class="list-group-item">Address:</strong> <%= @restaurant.address %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <%= simple_format @restaurant.description %>
    </div>

    <div class="clearfix"></div>

    <hr>
    <%= link_to 'Back to index', admin_restaurants_path %>
  </div>
</div>